{% extends 'base.html.twig' %}

{% block title %}Les traitements{% endblock %}

{% block body %}
    
    <br><br><br>
    <div class="mx-auto p-4 bg-light w-75"> 
        <br>
        <h3 >Le nombre de traitements : {{traitements|length}}</h3>
        <br><br>
        <h4>
        <a href="{{ path('app_ajoutTraitement')}}">
            <input class="button-choix-function" type="button" value="Cliquez ici pour ajouter un traitement"</input>
        </a>
        </h4>
        <br>
        <table class="table">
        <tr>
            <th>Id</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Afficher le traitement</th>
          {#<th>Séjour(s)</th>
            <th>Modifier</th>#}
        </tr>

        {% for traitement in traitements %}
            <tr>
                <td>{{traitement.getId}}</td>
                <td>{{traitement.getDatedebut|date('Y-m-d')}}</td> 
                <td>{{traitement.getDatefin|date('Y-m-d')}}</td>
                <td><a href="{{path("app_traitementId",{id:traitement.id})}}">Ouvrir</a></td>
                {#<td>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </td>#}
            {# <a href="{{path("app_modif_patient",{id:patient.id})}}">Modifier</a>
            <a href="{{path("app_supp_patient",{id:patient.id})}}" onclick="Etes-vous sûr de vouloir supprimer ?">Supprimer</a>#}
            </tr>
        {% else %}
            Pas de traitements trouvés.
        {% endfor %}
        </table>
        <br><br> 
    </div>
    
    {#
    <ul>
        <br>
        {% for traitement in traitements %}
        <li> {{traitement.getId}} - {{traitement.getDatedebut|date('Y-m-d')}}
        <a href="{{path("app_traitementId",{id:traitement.id})}}">Afficher le traitement</a>
        </li>
        {% else %}
        Pas de traitement trouvé.
        {% endfor %}
        <br>
    </ul>#}
{% endblock %}
